
*
{
    margin: auto;
    padding: 0;
}

img
{
    border: none;
    margin: 0;
}

body
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , sans-serif;
    font-size: 12px;
    color: #444549;
    background: #ffffff;
}

h1
{
    font-family: "Segoe UI Semibold" , 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #656262;
    padding-bottom: 5px;
    line-height: 30px;
}
h3
{
    font-family: "Segoe UI Semibold" , sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #656262;
}


a
{
    text-decoration: none;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.cb
{
    clear: both;
}

.wrapper
{
    width: 1000px;
    background: #ffffff;
    margin: 0 auto;
}


#logo
{
    font-family: 'Segoe UI' , 'Arial' , sans-serif;
    border: none;
    font-weight: bold;
    font-size: 34px;
    padding: 20px;
}



li.leaf, li.collapsed, li.expanded
{
    list-style-image: none;
    list-style: none;
    list-style-type: none;
}

ul
{
    list-style-image: none;
    list-style: none;
    list-style-type: none;
}



/*************************** Header **************************/


#menuMain a
{
    display: block;
    float: left;
    width: 333px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

#menuMain a:hover img
{
    position: absolute;
    left: -333px;
}

.menuMainTab
{
    background-color: #dfdede;
    width: 333px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 55px 50px;
}


#first.menuMainTab:hover p, #second.menuMainTab:hover p, #third.menuMainTab:hover p
{
    color: #fff;
}

#first.menuMainTab:hover
{
    background-image: url("/_img/itImg.png");
    background-color: #ff8400;
}

.hoveredP {
    color: #fff !important;
}

.firstHovered
{
    background-image: url("/_img/itImg.png") !important;
    background-color: #ff8400 !important;
}

.secondHovered {
    background-image: url("/_img/codeImg.png") !important;
    background-color: #81cb3a !important;
}

.thirdHovered {
    background-image: url("/_img/desImg.png") !important;
    background-color: #36BAE2 !important;
}

#first.menuMainTab
{
    background-image: url("/_img/itImgDark.png");
    background-color: #dfdede;
}

#first.menuMainTab .menuMainTitle .menuMainSub
{ color: #ff8400;}

 #first.firstHovered .menuMainTitle .menuMainSub
{ color: #fff;} 
#second.menuMainTab:hover
{
    background-image: url("/_img/codeImg.png");
    background-color: #81cb3a;
}
#second.menuMainTab
{
    background-image: url("/_img/codeImgDark.png");
    background-position: 41px 51px;
    margin-left: 1px;
    margin-right: 1px;
    width: 332px;
    background-color: #dfdede;
}

#second.menuMainTab .menuMainTitle .menuMainSub
{ color: #81cb3a;}

 #second.secondHovered .menuMainTitle .menuMainSub
{ color: #fff;}
#third.menuMainTab:hover
{
    background-image: url("/_img/desImg.png");
    background-color: #36BAE2;
}


#third.menuMainTab
{
    background-image: url("/_img/desImgDark.png");
    background-color: #dfdede;
}

#third.menuMainTab .menuMainTitle .menuMainSub
{ color: #36bae2;}


 #third.thirdHovered .menuMainTitle .menuMainSub
{ color: #fff;} 
/* .menuMainTab:hover {
    background-color: #82cb3a;
    width: 333px;
    height: 45px;
    color: #fff;
} */

/* #first .menuMainTitle
{
    float: right;
    padding: 55px 50px 0 0;
    font-size: 30px;
    font-weight: 100;
    font-family: "Segoe UI Light" , "Segoe UI" , "Arial" , sans-serif;
    color: #cc6a00;
}

#second .menuMainTitle
{
    float: right;
    padding: 55px 50px 0 0;
    font-size: 30px;
    font-weight: 100;
    font-family: "Segoe UI Light" , "Segoe UI" , "Arial" , sans-serif;
    color: #67a22e;
}

#third .menuMainTitle
{
    float: right;
    padding: 55px 50px 0 0;
    font-size: 30px;
    font-weight: 100;
    font-family: "Segoe UI Light" , "Segoe UI" , "Arial" , sans-serif;
    color: #2b95b5;
} */

.menuMainTitle
{
    float: right;
    padding: 55px 50px 0 0;
    font-size: 30px;
    font-weight: 100;
    font-family: "Segoe UI Light" , "Segoe UI" , "Arial" , sans-serif;
    color: #6b6b6b;
}



.menuMainTitle:hover
{
    float: right;
    padding: 55px 50px 0 0;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Segoe UI Light" , "Segoe UI" , "Arial" , sans-serif;
    color: #fff !important;
}




.menuMainSub
{
    float: right;
    padding: 10px 0 0 0;
    font-size: 11px;
    font-weight: bold;
    font-family: Segoe UI Semibold, "Segoe UI" , "Arial" , sans-serif;
}


/********************************** SMALL ***********************/

#firstSmall.menuMainTabSmall:hover p, #secondSmall.menuMainTabSmall:hover p, #thirdSmall.menuMainTabSmall:hover p
{
    color: #fff;
}

#firstSmall.menuMainTabSmall:hover
{
    background-color: #ff8400;
    background-repeat: no-repeat;
    background-position: bottom center;
}


#firstSmall.menuMainTabSmall
{
    background-image: url("/_img/itImgSmall.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #dfdede;
}
#secondSmall.menuMainTabSmall:hover
{
    background-color: #81cb3a;
    background-repeat: no-repeat;
    background-position: bottom center;
}
#secondSmall.menuMainTabSmall
{
    background-image: url("/_img/codeImgSmall.png");
    margin-left: 1px;
    margin-right: 1px;
    width: 332px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #dfdede;
}
#thirdSmall.menuMainTabSmall:hover
{
    background-color: #25a9e0;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#thirdSmall.menuMainTabSmall
{
    background-image: url("/_img/desImgSmall.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #dfdede;
}



#menuMainSmall a
{
    display: block;
    float: left;
    width: 333px;
    height: 45px;
    overflow: hidden;
    position: relative;
}
/*.menuMainTabSmall {
    background-color: #dfdede;
    width: 333px;
    height: 45px;
	background-repeat:no-repeat;
	background-position:55px 50px;
}*/

.scrollable
{
    position: relative;
    overflow: hidden;
    width: 980px;
    height: 20px;
}

.scrollable .items
{
    width: 20000em;
    position: absolute;
}

.items > div
{
    width: 1000px;
    float: left;
}



#menu a
{
    color: #6b6b6b;
}

#menu nav
{
    background: #c1c1c1;
    height: 20px;
    padding: 15px;
    color: #6b6b6b;
}

#menu div ul
{
    text-align: center;
    font-size: 15px;
}

#menu div ul li
{
    list-style: none;
    display: inline;
    margin: 0px 30px;
}

#searchInfo
{
    font-family: 'Segoe UI' , 'Arial' , sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #553a96;
}

#search, #submit /**************************** Search ********/
{
    float: left;
    padding-left: 10px;
}



#search
{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdede;
    width: 161px;
    height: 24px;
    overflow: hidden;
    font-size: 10px; /* Clear floats */
}


div.myButton button, div.myButton input
{
    background: url("/_img/lupa.png") no-repeat 6px 6px;
    background-color: #5228a6;
    cursor: pointer;
    width: 25px;
    height: 26px;
    border: none;
    padding: 0px 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
div.myButton button:hover, div.myButton input:hover
{
    background: url("/_img/lupa.png") no-repeat 6px 6px;
    background-color: #422085;
    cursor: pointer;
    width: 25px;
    height: 26px;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-shadow: 0px;
    padding: 0px 0px;
}

#bingBox
{
    font-family: 'Segoe UI' , 'Arial' , sans-serif;
    font-size: 10px;
    color: #ddd;
}

.bingCheckbox
{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/*********************************** login **********************/
#login
{
    height: 66px;
    border: none;
    margin-top: 43px;
    position: relative;
}
.login200 
{
    width: 200px;
}

#loginButtons
{
    display: block;
    float: left;
    margin-top: 2px;
    width: 200px;
}

#loginButtons  ul li .userEmailImg
{
    float: left;}
    
#loginButtons ul li input
{
    cursor: pointer;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #4a2e8c;
    font-size: 10px;
    width: 90px;
    height: 25px;
    color: #ffffff;
    text-align: center;
    /*padding-top: 6px;*/
    padding-bottom: 4px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
    margin-left: 5px;
    float: left;
}

#loginButtons ul li input:hover
{
    background-color: #b7b6b6;
    font-size: 10px;
    width: 90px;
    height: 25px;
    color: #ffffff;
    text-align: center;
    /*padding-top: 6px;*/
    padding-bottom: 4px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
    margin-left: 5px;
    float: left;
}
#loginButtons ul li span
{
    margin-top: 5px;
    float: left;
    font-family: Segoe UI, Sans-Serif, Arial;
    font-size: 12px;
}

#loginButtons ul li .linkName
{
    font-family: Segoe UI Bold, Segoe UI, Sans-Serif, Arial;
    font-size: 12px;
    font-weight: bold;
    color: #4a2e8c;
    cursor: pointer;
    margin-top: 5px;
    float: left;
    width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linkNameMini
{
    width: 70px !important;
}

#loginButtons ul li .userMessagesImg
{float: left;
 margin-top: 4px;}
 
#loginButtons ul li .userMessagesNumer
 {float: left;
  margin-top: 5px;
  margin-left: 2px;
  width: 14px;
  overflow:hidden;}

#login a.logIn
{
    background-color: #5228a6;
    font-size: 10px;
    display: block;
    width: 99px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
}

#login a.register
{
    background-color: #5228a6;
    font-size: 10px;
    display: block;
    width: 99px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
}

#login a.logIn:hover
{
    background-color: #422085;
    font-size: 10px;
    display: block;
    width: 99px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
}

#login a.register:hover
{
    background-color: #422085;
    font-size: 10px;
    display: block;
    width: 99px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
}

.loginBox
{
    position: absolute;
    height: 90px;
    width: 200px;
    top: 70px;
    right: 0px;
    z-index: 1;
    background-color: #5228a6;
}

.loginBoxStrip
{
    float: right;
    height: 2px;
    width: 101px;
    background-color: #fff;
    z-index: 1;
}



.buttonsLogIn
{
    cursor: pointer;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #4a2e8c;
    font-size: 10px;
    width: 90px;
    height: 22px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
    margin-left: 10px;
    float: left;
}

.buttonsLogIn:hover
{
    background-color: #341c6c;
}

.loginBox #divLoginContent #divLogOnContent #other a
{
    color: #fff;
}

.loginBox #divLoginContent #divLogOnContent .error
{
    position: absolute;
    top: 80px;
    left: -8px;
    padding: 10px;
    width: 180px;
    font-family: Segoe UI, Sans-Serif;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    background: #4a2e8c;
}

#texts
{
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    position: relative;
}

#texts input
{
    float: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdede;
    width: 78px;
    height: 20px;
    overflow: hidden;
    font-size: 10px; /* Clear floats */
    margin-bottom: 2px;
    margin-right: 7px;
    padding-left: 8px;
}

#loginText
{
    float: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdede;
    width: 72px;
    height: 20px;
    overflow: hidden;
    font-size: 10px; /* Clear floats */
    margin-bottom: 2px;
    padding-left: 8px;
}

#passwordText
{
    float: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdede;
    width: 72px;
    height: 20px;
    overflow: hidden;
    font-size: 10px; /* Clear floats */
    margin-bottom: 2px;
    margin-left: 7px;
    padding-left: 8px;
}

#checkboxLogin
{
    float: left;
    margin-left: 8px;
    margin-top: 4px;
    color: #fff;
    font-size: 10px;
}

#checkboxLogin input
{
    float: left;
}
#checkboxLogin span
{
    float: left;
    margin-top: 4px;
}
#checkboxLogin .checkRemember
{
    margin-top: 5px;
}
#checkboxLogin .checkRem
{
    margin: 5px 13px 0 10px;
}
#other
{
    float: left;
    margin-top: 7px;
    margin-left: 11px;
    color: #fff;
    font-size: 10px;
}

.loginBox #divOtherLogOnContent
{
    margin-top: 5px;
}

.loginBox #divOtherLogOnContent div
{
    color: #fff;
    float: left;
    margin-left: 5px;
}
.loginBox #divOtherLogOnContent div span
{
    float: left;
    margin-left: 12px;
    font-family: Segoe UI, Sans-Serif;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}


.loginBox #divOtherLogOnContent div a
{
    float: left;
}

.logInBy
{
    margin-left: 15px;
}

.loginBox #divOtherLogOnContent div .divLogOnBack img
{
    cursor: pointer;
}

.buttonsLogInBy
{
    cursor: pointer;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #4a2e8c;
    font-size: 10px;
    width: 182px;
    height: 22px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
    float: left;
    margin-top: 9px;
    margin-left: 4px;
}

.buttonsLogInBy:hover
{
    background: #341c6c;
}

.loginBox #divLogOnFailed
{
    margin-top: 10px;
}

.loginBox #divLogOnFailed div
{
    color: #fff;
    float: left;
    margin-left: 5px;
}
.loginBox #divLogOnFailed div span
{
    float: left;
    margin-left: 8px;
}


.buttonsPass
{
    cursor: pointer;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #4a2e8c;
    font-size: 10px;
    width: 108px;
    height: 22px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: Segoe UI, Sans-Serif;
    float: right;
    margin: 30px 13px 0 0;
}

.buttonsPass:hover
{
    background: #341c6c;
}

/******************** Content ******************/

.sectionHeading
{
    font-family: 'Segoe UI Semibold' , "Segoe UI" , 'Arial' , sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #553a96;
    padding-bottom: 20px;
}

#mainContent
{
    width: 780px;
    margin-top: 10px;
}
/*********************************** News ******************/
.primeNewsMain
{
    background-color: #f7f7f7;
    width: 760px;
    height: 160px;
    font-size: 14px;
    margin-bottom: 10px;
}

#mainNewsPic
{
    background-color: #25a9e0;
    width: 256px;
    height: 162px;
    margin: 0 10px 5px 0;
}

#primeNewsTitle a:hover, #primeNewsTitle a:link
{
    color: #656262;
}
#primeNewsTitle
{
    font-weight: 100;
}
.primeNewsContent
{
    padding-left: 10px;
    line-height: 18px;
}
#primeNews
{
    width: 490px;
}


#newsListMain
{
    width: 400px;
    height: 480px;
    border: none;
}

.newsListOne
{
    height: 60px;
    margin: 10px 0 30px 0;
}
.newsDate
{
    font-size: 11px;
    text-align: left;
    float: left;
    width: 320px;
    height: 12px;
    margin-left: 10px;
}
.newsListText
{
    width: 380px;
    height: 48px;
    margin-left: 10px;
    line-height: 16px;
}
#calendarMain
{
    margin-left: 10px;
    width: 360px;
    height: 480px;
    border: none;
}

#knowBaseMain
{
    width: 770px;
    height: 220px;
    margin-top: 20px;
    border: none;
}

aside
{
    /*********************************** sidebar *************************/
    width: 205px;
    margin-left: 10px;
}

aside a.createAccountSidebar
{
    background-color: #553a96;
    font-size: 20px;
    display: block;
    width: 205px;
    height: 32px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 8px;
}

aside a.createAccountSidebar:hover
{
    background-color: #b7b6b6;
}

aside a.forumSidebar
{
    background-color: #553a96;
    font-size: 20px;
    display: block;
    width: 205px;
    height: 85px;
    color: #ffffff;
    margin-bottom: 10px;
    vertical-align: center;
    padding-top: 10px;
    line-height: 24px;
    text-transform: uppercase;
}

aside a.forumSidebar:hover
{
    background-color: #b7b6b6;
}

/**************************** calendar ***********************/
#space1
{
    margin-top: 21px;
}
.space2
{
    margin-top: 10px;
}

.advert
{
    margin-top: 10px;
}
.tagItem
{
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 2px;
    background: #ddd;
    color: #fff;
}

.tagItem:hover
{
    background-color: #553a96;
}

.date
{
    width: 70px;
    height: 70px;
    background-color: rgb(196,196,196);
    text-align: center;
    color: white;
}

.date.alt
{
    background-color: rgb(148,148,148);
}
.date .day
{
    padding-top: 5px;
    font-style: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
}

.date .monthAndYear
{
    font-style: 'Segoe UI';
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}


.calendar-item .date
{
    width: 70px;
    height: 70px;
    background-color: rgb(196,196,196);
    text-align: center;
    color: white;
}
.calendar-item .date.alt
{
    background-color: rgb(148,148,148);
}
.calendar-item .date .day
{
    font-size: 30px;
    font-weight: bold;
}
.calendar-item .info
{
    margin-left: 10px;
}
.calendar-item .info .where
{
    font-style: 'Segoe UI';
    font-size: 11px;
}

.calendar-item .info .links
{
    text-decoration: none;
    color: black;
    height: 35px;
    margin-top: 5px;
    padding-left: 5px;
}
/******************************** lines *****************/
.vertical-line-blue
{
    border-left: 2px solid #37bae2;
}
.vertical-line-green
{
    border-left: 2px solid #81cb3a;
}
.vertical-line-orange
{
    border-left: 2px solid #ff8400;
}
.vertical-line-violet
{
    border-left: 2px solid #5228a6;
}

.vertical-line-blue-bold
{
    border-left: 4px solid #37bae2;
}
.vertical-line-green-bold
{
    border-left: 4px solid #81cb3a;
}
.vertical-line-orange-bold
{
    border-left: 4px solid #ff8400;
}
.vertical-line-violet-bold
{
    border-left: 4px solid #5228a6;
}

.calendar-item .info .links a
{
    color: #656262;
    font-style: 'Segoe UI';
    font-weight: semibold;
    font-size: 13px;
}

li
{
    list-style-type: none;
}
.calendar-item
{
    margin-top: 5px;
}
.calendar-item .date
{
    float: left;
}
.checkbox
{
    margin-bottom: 2px;
    font-size: 10px;
}



div.oneThirdCol
{
    width: 240px;
    margin-right: 10px;
    float: left;
    line-height: 18px;
}

div.oneThirdCol img
{
    margin: 0 1px 5px 0;
}

.oneThirdCol h6
{
    margin-top: 40px;
}

.oneThirdCol h3
{
    height: 25px;
}

.knowHeader
{
    font-family: 'Segoe UI Semibold' , "Segoe UI" , 'Arial' , sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.knowP
{
    margin-top: 10px;
    clear: both;
}
.knowP p
{
    margin-left: 5px;
}


.marks ul li.markGray
{
    width: 9px;
    height: 7px;
    background-color: #cbcbcb;
    margin: 0 7px 1px 0;
}


.marks ul li.markColor
{
    width: 9px;
    height: 7px;
    background-color: #553a96;
    margin: 0 7px 1px 0;
}


.marks ul li.markGrayBig
{
    width: 20px;
    height: 16px;
    background-color: #cbcbcb;
    margin: 0 7px 2px 0;
}


.marks ul li.markColorBig
{
    width: 20px;
    height: 16px;
    background-color: #553a96;
    margin: 0 7px 2px 0;
}

/********************* Footer *********************/
footer
{
    margin: 20px 0px;
    text-align: right;
}

footer a
{
    color: #000000;
    font-size: 11px;
}

footer div.container
{
    padding-top: 5px;
    float: right;
    line-height: 20px;
}

footer div.msLogo
{
    float: right;
    padding: 0px 10px;
    font-size: 11px;
    text-align: center;
}

footer div.msLogo big
{
    font-size: 20px;
    font-weight: bold;
}

#loginDisabled, #registerDisabled
{
    display: none;
    color: red;
    position: absolute;
    right: 200px;
    top: 50px;
    width: 245px;
    font-weight: bold;
}

#registerDisabled
{
	width: 270px !important;
}

.searchStore
{ 
    border: 1px solid #DFDEDE;
    color: #939393;
    font-size: 10px;
    height: 24px;
    overflow: hidden;
    padding-left: 10px;
    width: 100px;
    float:left;
    display:block;
}

.searchStoreButton
{
	background: url("/_img/lupa.png") 6px 6px no-repeat #422085;
    border: medium none currentColor;
    border-radius: 0px;
    cursor: pointer;
    height: 26px;
    padding: 0px;
    width: 25px;
    float:left;
}

.selectSearch, .messagesActions {float:left;}

.searchProfileMessages
{ 
    border: 1px solid #DFDEDE;
    color: #939393;
    font-size: 10px;
    height: 24px;
    overflow: hidden;
    padding-left: 10px;
    width: 120px;
    float:left;
    display:block;
}

#storeSelects > .fr {margin: -1px 8px 0 0;}
.selectSearch > span { margin: 0 5px 0 0;}
.selectSearch > span > a > span.ui-selectmenu-status {margin: 0 0 0 5px;}

/* style dla kontrolek forum w widoku u¿ytkownika */
#profileThreadList .forumThreadsListElement
{
	background-color: #F4F4F4 !important;
}

#profileThreadList .forumThreadsList .info { 
    width: 370px !important;
}

#profileThreadList .forumThreadsList .description
{ 
    width: 210px !important;
}

#profileThreadList .forumThreadsList .thColumn4
{ 
    width: 75px !important;
}

#profileThreadList .forumThreadsList .thColumn5
{ 
    width: 75px !important;
}

.newPost
{
    border-top: solid red 2px;
}
